
/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*:focus,*/
/*:active {*/
/*// outline: none;*/
/*}*/

/*a:focus,*/
/*a:active {*/
/*// outline: none;*/
/*}*/

html,
body {
  height: 100%;
}

body {
  color: #262626;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
//text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: 'Inter', sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/

.App {
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.input {
  display: block;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #867f7f;
  height: 32px;
  background-color: #fff;
  font-size: 18px;
  line-height: 120%;
}

.errorInput {
  border-color: #cb4949;
}

.errorMessage {
  position: absolute;
  color: #cb4949;
  font-weight: 500;
  font-size: 16px;
  bottom: -20px;
  left: 5px;
}

.main{
  padding: 40px 0;
}
.mainTop{
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.mainItems{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

h2{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.checkbox {
  position: relative;
}

.checkboxInput {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
    z-index: 2;
}

.checkboxInput:focus+.checkboxLabel:before {}

.checkboxInput:checked+.checkboxLabel:after {
  transform: scale(1);
}


.checkboxLabel {
  cursor: pointer;
  /*  pointer-events: none;*/
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}

.checkboxLabel:before {
   content: "";
   align-self: flex-start;
   flex: 0 0 17px;
   width: 17px;
   height: 17px;
   border: 2px solid #ddd;
   border-radius: 4px;
 }

.checkboxLabel::after {
   content: '';
   width: 9px;
   transform: scale(0);
   height: 9px;
   position: absolute;
   top: 4px;
   left: 4px;
   background-color: #7FC780;
   border-radius: 2px;
   transition: all .3s;
 }


